wbuild
.tar.bz2
*.bak
waf-*
.lock*
*.sln
*.suo
*.pui
depends/dojo*
depends/**/
*.zip
.idea
htdocs/css/_.css
htdocs/css/nihilo
htdocs/scripts/nls/dojo_*
htdocs/scripts/resources
htdocs/scripts/tests/*/
htdocs/*.csv
htdocs/scripts/dojo
htdocs/scripts/dojo.*
htdocs/scripts/dijit
htdocs/scripts/dojox
htdocs/scripts/util
publish/android/**/
materials/wip
htdocs/Web*.config
htdocs/scripts/release
