wbuild
.tar.bz2
*.bak
waf-*
.lock*
*.sln
*.suo
*.pui
depends/dojo*
*.zip
.idea
scripts/css/_.css
scripts/css/nihilo
scripts/nls/dojo_*
scripts/resources
scripts/tests/*/
scripts/*.csv
scripts/dojo.*
scripts/dijit